target/classes/proyecto.iap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
	<db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" database="ggaebd" doc:name="MySQL Configuration"/>
	<flow name="ImportaAlumnos">
		<file:inbound-endpoint path="C:\Users\Administrador.WIN-2O4P6U7CI32\Desktop\PROYECTO\IAP - ProyectoABP - GGAE - Entregable1\documentos-intercambio\1 - alumnos" responseTimeout="10000" doc:name="CSV_Alumnos" moveToDirectory="C:\Users\Administrador.WIN-2O4P6U7CI32\Desktop\PROYECTO\IAP - ProyectoABP - GGAE - Entregable1\documentos-intercambio\procesados">
			<file:filename-regex-filter pattern="alumnos.csv" caseSensitive="true"/>
		</file:inbound-endpoint>
		<dw:transform-message doc:name="Transform Message" metadata:id="52a9aa34-a33a-405f-8b3b-c75836bcadf0">
			<dw:input-payload mimeType="application/csv">
				<dw:reader-property name="header" value="false"/>
			</dw:input-payload>
			<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload map ((payload01 , indexOfPayload01) -> {
	apellidos: payload01.column_0,
	nombre: payload01.column_1,
	dni: payload01.column_2,
	email: payload01.column_3
})]]></dw:set-payload>
		</dw:transform-message>
		<foreach doc:name="For Each">
			<db:insert config-ref="MySQL_Configuration" doc:name="Database">
				<db:parameterized-query><![CDATA[INSERT INTO alumnos (nombre, apellidos, dni, email) VALUES (#[payload.nombre], #[payload.apellidos], #[payload.dni], #[payload.email]);]]></db:parameterized-query>
			</db:insert>
		</foreach>
	</flow>
	<flow name="ImportaAlumnosAsignatura">
		<file:inbound-endpoint path="C:\Users\Administrador.WIN-2O4P6U7CI32\Desktop\PROYECTO\IAP - ProyectoABP - GGAE - Entregable1\documentos-intercambio\2 - alumnos_asignaturas" moveToDirectory="C:\Users\Administrador.WIN-2O4P6U7CI32\Desktop\PROYECTO\IAP - ProyectoABP - GGAE - Entregable1\documentos-intercambio\procesados\" responseTimeout="10000" doc:name="CSV_AlumnosAsig">
			<file:filename-regex-filter pattern=".+\.csv" caseSensitive="true"/>
		</file:inbound-endpoint>
		<set-variable variableName="Asignatura" value="#[message.inboundProperties.originalFilename]" doc:name="NombreAsig"/>
		<dw:transform-message doc:name="Transform Message" metadata:id="0fd25baa-3817-4c79-b1d3-d7715ff07aa9">
			<dw:input-payload mimeType="application/csv">
				<dw:reader-property name="header" value="false"/>
			</dw:input-payload>
			<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload map ((payload01 , indexOfPayload01) -> {
	dni: payload01.column_0,
	asignatura: flowVars.Asignatura replace '.csv' with ''
})]]></dw:set-payload>
		</dw:transform-message>
		<foreach doc:name="For Each">
			<db:insert config-ref="MySQL_Configuration" doc:name="Database">
				<db:parameterized-query><![CDATA[INSERT INTO `alumnos_asignaturas`(`alumno`, `asignatura`) VALUES (#[payload.dni],#[payload.asignatura])]]></db:parameterized-query>
			</db:insert>
		</foreach>
	</flow>
	<flow name="ImportaAlumnosGrupos">
		<file:inbound-endpoint path="C:\Users\Administrador.WIN-2O4P6U7CI32\Desktop\PROYECTO\IAP - ProyectoABP - GGAE - Entregable1\documentos-intercambio\3 - grupos" moveToDirectory="C:\Users\Administrador.WIN-2O4P6U7CI32\Desktop\PROYECTO\IAP - ProyectoABP - GGAE - Entregable1\documentos-intercambio\procesados" responseTimeout="10000" doc:name="JSON_AluGrupos">
			<file:filename-regex-filter pattern=".+\.json" caseSensitive="true"/>
		</file:inbound-endpoint>
		<dw:transform-message doc:name="Transform Message" metadata:id="50fa19d4-5326-40dc-897c-c09793e69e55">
			<dw:input-payload mimeType="application/json"/>
			<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload map ((payload01 , indexOfPayload01) -> {
	grupo: payload01.grupo,
	asignatura: payload01.asignatura,
	alumnos: payload01.alumnos map ((alumno , indexOfAlumno) -> alumno)
})]]></dw:set-payload>
		</dw:transform-message>
		<foreach doc:name="For Each">
			<set-variable variableName="GrupoID" value="#[payload.grupo]" doc:name="GrupoID"/>
			<scatter-gather doc:name="Scatter-Gather">
				<db:insert config-ref="MySQL_Configuration" doc:name="Database">
					<db:parameterized-query><![CDATA[INSERT INTO `grupos`(`id`, `asignatura`) VALUES (#[payload.grupo], #[payload.asignatura])]]></db:parameterized-query>
				</db:insert>
				<foreach collection="#[payload.alumnos]" doc:name="For Each">
					<db:insert config-ref="MySQL_Configuration" doc:name="Database">
						<db:parameterized-query><![CDATA[INSERT INTO `alumnos_grupos`(`alumno`, `grupo`) 
SELECT dni, #[flowVars.GrupoID] FROM alumnos WHERE email LIKE CONCAT("%",#[payload], "%")]]></db:parameterized-query>
					</db:insert>
				</foreach>
			</scatter-gather>
		</foreach>
	</flow>
	<flow name="ImportaEntregas">
		<file:inbound-endpoint path="C:\Users\Administrador.WIN-2O4P6U7CI32\Desktop\PROYECTO\IAP - ProyectoABP - GGAE - Entregable1\documentos-intercambio\4 - entregas (notas)" moveToDirectory="C:\Users\Administrador.WIN-2O4P6U7CI32\Desktop\PROYECTO\IAP - ProyectoABP - GGAE - Entregable1\documentos-intercambio\procesados" responseTimeout="10000" doc:name="JSON_Entregas">
			<file:filename-regex-filter pattern=".+\.json" caseSensitive="true"/>
		</file:inbound-endpoint>
		<dw:transform-message doc:name="Transform Message" metadata:id="e8a445e9-573b-48a8-bbeb-bbb0d2381bd2">
			<dw:input-payload mimeType="application/json"/>
			<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload map ((payload01 , indexOfPayload01) -> {
	grupo: payload01.grupo,
	actoEval: payload01.acto-eval,
	nota: payload01.nota as :number,
	aTiempo: payload01.a-tiempo
})]]></dw:set-payload>
		</dw:transform-message>
		<foreach doc:name="For Each">
			<db:insert config-ref="MySQL_Configuration" doc:name="Database">
				<db:parameterized-query><![CDATA[INSERT INTO `entregas`( `grupo`, `acto_ev`, `a_tiempo`, `nota`) VALUES (#[payload.grupo], #[payload.actoEval], #[payload.aTiempo], #[payload.nota])]]></db:parameterized-query>
			</db:insert>
		</foreach>
	</flow>
	<flow name="ActoEvaluacionProcesaPeticion">
		<file:inbound-endpoint path="C:\Users\Administrador.WIN-2O4P6U7CI32\Desktop\PROYECTO\IAP - ProyectoABP - GGAE - Entregable1\documentos-intercambio\5 - Solicitud generarPADRINO" moveToDirectory="C:\Users\Administrador.WIN-2O4P6U7CI32\Desktop\PROYECTO\IAP - ProyectoABP - GGAE - Entregable1\documentos-intercambio\procesados" responseTimeout="10000" doc:name="File">
			<file:filename-regex-filter pattern=".+\.json|.+\.csv|.+\.xml" caseSensitive="true"/>
		</file:inbound-endpoint>
		<choice doc:name="Choice">
			<when expression="#[message.inboundProperties.originalFilename.endsWith(&quot;.xml&quot;)]">
				<dw:transform-message doc:name="Transform Message" metadata:id="c76a6f38-aab0-439b-a641-d6c889d3ce48">
					<dw:input-payload mimeType="application/xml"/>
					<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload.ActoEvaluacion]]></dw:set-payload>
				</dw:transform-message>
				<flow-ref name="ActoEvaluacionDevuelveCSV" doc:name="Flow Reference"/>
			</when>
			<when expression="#[message.inboundProperties.originalFilename.endsWith(&quot;.json&quot;)]">
				<dw:transform-message doc:name="Transform Message" metadata:id="892b704f-6eeb-469d-94f6-86994f49796d">
					<dw:input-payload mimeType="application/json"/>
					<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload.acto-evaluacion]]></dw:set-payload>
				</dw:transform-message>
				<flow-ref name="ActoEvaluacionDevuelveCSV" doc:name="Flow Reference"/>
			</when>
			<when expression="#[message.inboundProperties.originalFilename.endsWith(&quot;.csv&quot;)]">
				<dw:transform-message doc:name="Transform Message" metadata:id="dd277d7d-fdc1-4941-9f93-1f9fe385f78d">
					<dw:input-payload mimeType="application/csv">
					</dw:input-payload>
					<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload.column_0]]></dw:set-payload>
				</dw:transform-message>
				<flow-ref name="ActoEvaluacionDevuelveCSV" doc:name="Flow Reference"/>
			</when>
			<otherwise>
				<set-payload value="415, Unsupported Media Type" doc:name="Set Payload"/>
				<file:outbound-endpoint path="C:\Users\Administrador.WIN-2O4P6U7CI32\Downloads\PROYECTO\Punto5" outputPattern="result.csv" responseTimeout="10000" doc:name="File"/>
			</otherwise>
		</choice>
	</flow>
	<sub-flow name="ActoEvaluacionDevuelveCSV">
		<custom-transformer class="proyecto.iap.QueTienes" doc:name="Java"/>
		<db:select config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[SELECT ae.nombre as NombreActoEvaluacion,
		al.dni as Dni,
		al.apellidos as Apellidos,
		al.nombre as Nombre,
		e.nota as Nota,
		IF(e.a_tiempo=1, "false", "true") as EntregaRetrasada
FROM actos_evaluacion ae
LEFT JOIN entregas e ON ae.id = e.acto_ev 
LEFT JOIN grupos gr ON e.grupo = gr.id
LEFT JOIN alumnos_grupos ag ON gr.id = ag.grupo
JOIN alumnos al ON ag.alumno = al.dni
WHERE ae.id = #[payload]]]></db:parameterized-query>
		</db:select>
		<custom-transformer class="proyecto.iap.GetCSV" doc:name="Java"/>
		<file:outbound-endpoint path="C:\Users\Administrador.WIN-2O4P6U7CI32\Desktop\PROYECTO\IAP - ProyectoABP - GGAE - Entregable1\documentos-intercambio\resultados" outputPattern="result.csv" responseTimeout="10000" doc:name="File"/>
	</sub-flow>
</mule>
